%h1
  = link_to "#ぼくらの政策", root_path
  = "タグ：#{@tag.name}" if @tag.present?
%h3= link_to "Twitterで見る", 'https://twitter.com/search?q=%23%E3%81%BC%E3%81%8F%E3%82%89%E3%81%AE%E6%94%BF%E7%AD%96%20OR%20%23%E5%83%95%E3%82%89%E3%81%AE%E6%94%BF%E7%AD%96&src=typd&f=realtime', target: '_blank'

- if current_user.blank?
  %h2= link_to "Twitterでログイン", "/auth/twitter"
- else
  %h3= link_to "ログアウト", logout_path

- # 検索フォーム
= search_form_for @search, url: root_path do |f|
  %div.field
    = f.text_field :content_cont, size: 50, placeholder: 'スペース区切りでAND検索が出来ます'
    = f.submit "検索", data: { disable_with: '検索' }

- # タグ一覧
- @tags.each do |tag|
  = link_to tag.name, root_path(tag_id: tag.id)

%h3
  = link_to '新着', root_path(sort: 'new')
  = link_to '人気', root_path(sort: 'popular')

/ ページング
= render partial: '/top/pagination', locals: { list: @tweets }

%table
  %tr
    %th ユーザ／ツイートID
    %th ツイート
    %th 評価
    %th タグ
    %th
      RT数
      %br
      Fav数
    %th ツイート日時

  - @tweets.each do |tweet|
    %tr
      %td.target_blank
        = link_to "@#{tweet.screen_name}", "https://twitter.com/#{tweet.screen_name}", target: '_blank'
        %br
        = tweet.tweet_id
      %td.target_blank= raw simple_format Rinku.auto_link(h(tweet.content), :all, 'target="_blank"') rescue tweet.content
      %td{ id: "reputation_#{tweet.id}", nowrap: true }
        = render partial: '/top/reputation', locals: { tweet: tweet }
      %td{ id: "tags_#{tweet.id}", nowrap: true }
        = render partial: '/top/tags', locals: { tweet: tweet }
      %td
        = tweet.retweet_count
        %br
        = tweet.favorite_count
      %td.target_blank{ nowrap: true }= link_to tweet.tweet_at.strftime("%Y年%m月%d日 %H:%M"), "https://twitter.com/otonaoto/status/#{tweet.tweet_id}", target: '_blank'

/ ページング
= render partial: '/top/pagination', locals: { list: @tweets }
%br
